//Created by karan on 3/10/2015.
h3
   | Upload image
   form(action='/userImageUpload', method='post', enctype='multipart/form-data')
      | your Image:
      input(type="file", name="user_image", accept="image/*")
      input(type='submit', value='Upload')


